<table class="table table-bordered table-striped table-hover">
    <tr ng-repeat="tournament in $ctrl.myTournaments">
        <td>{{tournament.name}} - {{tournament.description}}</td>
        <td>{{tournament.startDate | date:'yyyy-MM-dd'}} - {{tournament.finishDate | date:'yyyy-MM-dd'}}</td>
        <td>
            <!-- TODO Move to css file -->
            <style type="text/css">
                .tournament-grid-action-button {
                    font-size: 1.2em;
                    margin-right: 2px
                }

                .glyphicon-chevron-right.tournament-grid-action-button:hover {
                    color: blue
                }

                .glyphicon-pencil.tournament-grid-action-button:hover {
                    color: green
                }

                .glyphicon-trash.tournament-grid-action-button:hover {
                    color: firebrick
                }
            </style>
            <span class="glyphicon glyphicon-chevron-right tournament-grid-action-button" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-pencil tournament-grid-action-button" ng-click="$ctrl.onEditButtonClickedHandler(tournament.id)" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-trash tournament-grid-action-button" aria-hidden="true"></span>
        </td>
    </tr>
</table>
